<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solo Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        .stats_table {
            width: 100%;
        }
        .search_form {
            margin: 10px;
            display: block;
            padding: 10px;
            margin: 10px;
        }
        .search_form > input, select {
            height: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .hidden {
            display: none;
        }
        #search_box {
            border: 0px;
            box-shadow: 0px 0px 3px #888888;
            padding: 5px;
            position: relative;
            z-index: 1;
            width: 25em;
        }
        #search_gateway {
            height: 29px;
            width: 7em;
            padding: 0em 1em;
            border-radius: 0;
            z-index: 2;
            position: relative;
        }
        #search_btn{
            height: 29px;
            z-index: 2;
            position: relative;
        }
        #searchbar_buttons_owner {
            width: 100%;
        }
        #searchbar_buttons_owner > div {
            width: 25em;
            margin: 0 auto;
            text-align: right;
            margin-top: -38px;
            padding: 0 6px;
        }
        .show_on_search{
            display: none;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <h1>Opponents</h1>
    </div>
    <div class="row justify-content-md-center">
        <small>Solo opponents stats</small>
    </div>

    <div class="row justify-content-md-center " >
        <div class="alert alert-success hidden" role="alert" id="info_msg">
          A simple success alert—check it out!
        </div>
        <div class="alert alert-danger hidden" role="alert" id="error_msg">
          A simple danger alert—check it out!
        </div>
    </div>

    <div class="row justify-content-md-center" style="min-height: 3em;">
        <!--<form class="search_form">-->
            <input class="search_box" id="search_box">

            <div id="searchbar_buttons_owner">
                <div>
                    <select id="search_gateway">
                        <option value="Northrend" disabled>Northrend (Europe)</option>
                        <option value="Lordaeron">Lordaeron (US West)</option>
                        <option value="Azeroth" disabled>Azeroth (US East)</option>
                        <option value="Kalimdor" disabled>Kalimdor (Asia)</option>
                    </select>
                    <input class="submit" type="button" value="Search" id="search_btn">
                </div>
            </div>
        <!--</form>-->
    </div>


    <div class="row show_on_search">
        <div class="col-8">
            <table class="stats_table table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr><th scope="col" colspan="4">Last played</th></tr>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Map</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Looser</th>
                    </tr>
                </thead>
                <tbody id="game_history_body">

                </tbody>
            </table>


            <table class="stats_table table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr><th scope="col">Played games per day</th></tr>
                </thead>
                <tbody>
                <tr><td>
                    <div id="games_per_day_chart"
                         style="width: 100%; height: 300px;"></div>

                </td></tr>
                </tbody>
            </table>

            <table class="stats_table table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr><th scope="col">XP earnings</th></tr>
                </thead>
                <tbody>
                <tr><td>
                    <div id="xp_chart"
                         style="width: 100%; height: 300px;"></div>
                </td></tr>
                </tbody>

            </table>
        </div>
        <div class="col-4">
            <table class="stats_table table table-sm table-hover text-center">
                <thead class="thead-light">
                    <tr><th scope="col" colspan="2">Score against</th></tr>
                    <tr>
                        <!--<th scope="col" width="40%">Player</th>-->
                        <th scope="col">Score</th>
                        <th scope="col" width="80%">Opponent</th>
                    </tr>
                </thead>
                <tbody id="stats_body">

                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center show_on_search">
    </div>

    <div class="row justify-content-md-center">
        <div class="footer navbar-fixed-bottom">2018, Mykola Yakovliev</div>
    </div>
</div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script type="text/javascript">
      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

        function draw_statistic(source_data){

            var source_data = JSON.parse(source_data);
            if (source_data.length == 0) {
                return
            }
            source_data = source_data.reverse();


            Array.prototype.unshift.apply(source_data, [["Day", "Games"]]);

            var data = google.visualization.arrayToDataTable(source_data);

            var options = {
                title: '',
                hAxis: {title: '',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(
                document.getElementById('games_per_day_chart'));
            chart.draw(data, options);

        }

        function draw_xp_statistic(source_data){
            var source_data = JSON.parse(source_data);

            if (source_data.length == 0) {
                return
            }

            source_data = source_data.reverse();

            Array.prototype.unshift.apply(source_data, [["#", "XP"]]);


            var data = google.visualization.arrayToDataTable(source_data);

            var options = {
                title: '',
                hAxis: {title: '',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(
                document.getElementById('xp_chart'));
            chart.draw(data, options);
        }

    </script>

    <script>

        function do_get(url, report_to)
        {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);

            xhr.responseType = 'text';

            xhr.onload = function () {
                if (xhr.readyState === xhr.DONE) {
                    if (xhr.status === 200) {
                        // console.log(xhr.response);
                        // console.log(xhr.responseText);
                        report_to(xhr.responseText);
                    }
                }
            };

            xhr.send(null);
        }

        class GamesStatistic {
          constructor(username, gateway) {
            this.username = username;
            this.gateway = gateway;
          }

          start() {
            do_get(
                "/stats?username="+this.username+"&gateway="+this.gateway,
                this.parse
            );
          }

          parse(data) {
              draw_statistic(data);
          }
        }

        class OpponentsStatistic {
          constructor(username, gateway) {
            this.username = username;
            this.gateway = gateway;
          }

          start() {
            do_get(
                "/opponents?username="+this.username+"&gateway="+this.gateway,
                this.parse
            );
          }

          parse(result) {
            result = JSON.parse(result);

            var stats_body = document.getElementById("stats_body");
            stats_body.innerHTML = "";

            var err_msg_box = document.getElementById("error_msg");
            var info_msg_box = document.getElementById("info_msg");
            err_msg_box.style.display = "none";
            info_msg_box.style.display = "none";

            if ("error" in result) {
                err_msg_box.innerHTML = result["error"];
                err_msg_box.style.display = "block";
                return;
            } else if  ("info" in result) {
                info_msg_box.innerHTML = result["info"];
                info_msg_box.style.display = "block";
                return;
            }

            var tpl = "" +
                "            <tr>\n" +
                "                <!--td>%player%</td-->\n" +
                "                <td class='%state_class%'>\n" +
                "                    <span class=\"win\">%win%</span>\n" +
                "                    x\n" +
                "                    <span class=\"loss\">%loss%</span>\n" +
                "                </td>\n" +
                "                <td>%opponent%</td>\n" +
                "            </tr>\n";

            // var tpl = document.getElementById("stats_template").innerHTML;
            // var name = document.getElementById("search_box").value;

            for (var i=0; i<result.length;i+=1) {
                // console.log(result[i]);

                var secondary_player =
                    "<a onclick='send_request(\""+result[i][1]["secondary_player"]+"\", \""+current_gateway()+"\");return false;' href='#'>"+
                    result[i][1]["secondary_player"]+
                    "</a>";


                var body = "";
                body += tpl.replace("%win%", result[i][1]["win"]);
                body = body.replace("%loss%", result[i][1]["loss"]);
                body = body.replace(
                    "%opponent%", secondary_player);
                body = body.replace(
                    "%player%", result[i][1]["primary_player"]);

                var state = "";
                if (result[i][1]["state"] == 1) {
                    state = "table-success";
                } else if (result[i][1]["state"] == -1) {
                    state = "table-danger";
                }
                body = body.replace("%state_class%", state);

                stats_body.innerHTML += body;
            };
          }
        }

        class XpStatistic {
          constructor(username, gateway) {
            this.username = username;
            this.gateway = gateway;
          }

          start() {
            do_get(
                "/xp?username="+this.username+"&gateway="+this.gateway,
                this.parse
            );
          }

          parse(data) {
              draw_xp_statistic(data);
          }
        }

        class GameHistory {
          constructor(username, gateway) {
            this.username = username;
            this.gateway = gateway;
          }

          start() {
            do_get(
                "/history?username="+this.username+"&gateway="+this.gateway+"&limit=5",
                this.parse
            );
          }

            parse(data) {
                var game_history_body = document.getElementById("game_history_body");
                game_history_body.innerHTML = "";
                data = JSON.parse(data);

                var tpl = "" +
                    "            <tr>\n" +
                    "                <td>%date%</td>\n" +
                    "                <td>%map%</td>\n" +
                    "                <td>%winners%</td>\n" +
                    "                <td>%loosers%</td>\n" +
                    "            </tr>\n";

                function simplify_race(race){
                    var r = "";
                    if (race.indexOf("Random") !== -1){
                        r += "?";
                    }
                    if (race.indexOf("Orc") !== -1){
                        r += "O";
                    }
                    if (race.indexOf("Human") !== -1){
                        r += "H";
                    }
                    if (race.indexOf("Night Elf") !== -1){
                        r += "N";
                    }
                    if (race.indexOf("Undead") !== -1){
                        r += "U";
                    }
                    return r;

                }
                for (var i=0; i<data.length;i++) {
                    var game_info = data[i];
                    console.log("Parsing game_info", game_info);

                    var winners = "";
                    for (var z=0; z<game_info["players_data"].length;z++) {
                        var player = game_info["players_data"][z];
                        if (player["result"] == "Win") {
                            winners +=
                                "<a onclick='send_request(\""+player["username"]+"\", \""+current_gateway()+"\");return false;' href='#'>"+
                                player["username"] + " ["+simplify_race(player["race"])+"]"+
                                "</a>";
                        }
                    }
                    console.log("Winners:", winners);

                    var loosers = "";
                    for (var z=0; z<game_info["players_data"].length;z++) {
                        var player = game_info["players_data"][z];
                        if (player["result"] == "Loss") {
                            loosers +=
                                "<a onclick='send_request(\""+player["username"]+"\", \""+current_gateway()+"\");return false;' href='#'>"+
                                player["username"] + " ["+simplify_race(player["race"])+"]"+
                                "</a>";
                        }
                    }
                    console.log("Loosers:", loosers);

                    var body = "";
                    body += tpl.replace("%date%", game_info["date"]);
                    body = body.replace("%map%", game_info["map"]);
                    body = body.replace("%winners%", winners);
                    body = body.replace("%loosers%", loosers);

                    game_history_body.innerHTML += body;
                }
              console.log("GameHistory");
          }
        }

        function fix_location(username, gateway){
            var href = "/u/"+gateway+"/"+username;
            history.pushState({}, "", href);
        }

        function current_gateway(){
            if (window.location.href.indexOf("/u/") !== -1) {
                var q = window.location.href.split("/u/")[1].split("/");
                return q[0];
            } else {
                return document.getElementById("search_gateway").value;

            }
        }

        function send_request(username, gateway){
            // Enemies block
            if (username && gateway){
                var name = username;
                var gateway = gateway;
                document.getElementById("search_box").value = username;
                document.getElementById("search_gateway").value = gateway;
            } else {
                var name = document.getElementById("search_box").value;
                var gateway = document.getElementById("search_gateway").value;
            }

            fix_location(name, gateway);

            for
            (var i=0;i<document.getElementsByClassName("show_on_search").length;i++){
                document.getElementsByClassName("show_on_search")[i].style.display = "flex";
            }

            // var out =
            //     http_get("/api?username="+name+"&gateway="+gateway);
            // render(out);

            var os = new OpponentsStatistic(name, gateway);
            os.start();

            // stats
            var gs = new GamesStatistic(name, gateway);
            gs.start();

            // history
            var gh = new GameHistory(name, gateway);
            gh.start();

            // xp
            var xs = new XpStatistic(name, gateway);
            xs.start();

        }

        (function(){



            var btn = document.getElementById("search_btn");
            btn.addEventListener("click", function(){
                send_request();
            });
            var inp = document.getElementById("search_box");
            inp.addEventListener("keypress", function(e){

                var key = e.which || e.keyCode;
                if (key === 13) {
                    send_request();
                }
            });


            window.onload = function () {
                // Check if autorequest necessary
                if (window.location.href.indexOf("/u/") !== -1){
                    var q = window.location.href.split("/u/")[1].split("/");
                    var username = q[1];
                    var gateway = q[0];
                    document.getElementById("search_box").value = username;
                    document.getElementById("search_gateway").value = gateway;
                    send_request(username, gateway);
                }
            };

        })();


    </script>
</body>
</html>